<footer class="site-footer">
  <div class="wrapper">
    <img class="footer-profile-img" src="/images/profile.jpg">
    <div class="footer-bio"> 
      <h3 class="footer-name">Malte Poll</h3>
      <p>
        {{site.description}}
      </p>
    </div>
    <div>
      <a href="https://maltepoll.de" class="footer-socialmedia-link fa fa-link fa-2x"></a>
      <a href="mailto:malte@maltepoll.de" class="footer-socialmedia-link fa fa-envelope fa-2x"></a>
      <a href="https://twitter.com/malt3" class="footer-socialmedia-link fa fa-twitter fa-2x"></a>
      <a href="https://github.com/malt3" class="footer-socialmedia-link fa fa-github fa-2x"></a>
      <a href="https://keybase.io/malt3" class="footer-socialmedia-link fa fa-key fa-2x"></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="footer-socialmedia-link fa fa-rss fa-2x"></a>
    </div>
  </div>
</footer>
